/**
 * Vars
 */

$fa-font-path: '/fonts';

// http://brandcolors.net
$color-github:  #4183c4;  // unverified
$color-twitter: #55acee;  // verified

$sf-font-weight: 300;

$sf-rem: 18px;
$sf-font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Segoe UI', Verdana, sans-serif;

/**
 * Imports
 */

@import './node_modules/stylific-lite/scss/stylific-lite';
@import './node_modules/stylific-lite/scss/classes';
@import './node_modules/highlight.js/styles/tomorrow';

/**
 * Misc
 */

html {
  font-family: $sf-font-family-sans-serif;
  font-weight: $sf-font-weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Misc
 */

code {
  background-color: aliceblue;
}

.hljs {
  background-color: rgba(teal, 0.05);
}

/**
 * Nav
 */

.nav-h > * {
  display: inline-block;
  padding: $sf-space / 2;
  &:hover, &:focus {
    background-color: rgba(gray, 0.1);
  }
  &.active {
    box-shadow: inset 0 -3px 0 0;
  }
}
